body {
	background-color: #232323;
	margin: 0;
	font-family: "avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.9s;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

#message {
	display: inline-block;
	width: 20%;
	color: steelblue;
	letter-spacing: 1px;
	font-weight: 700;
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#strip {
	background: white;
	height:30px;
	text-align: center;
	color: black;
	text-transform: uppercase;
}

.selected {
	color: white;
	background: steelblue;
}
#colordisplay {
	font-size: 200%;
}
button {
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	outline:none;

}
button:hover {
	color: white;
	background: steelblue;
}